section.geoscience
	#geoscience
	.staticbackground
	.dynamicbackground
	.flex.flex--space-around
		.col-1

		.col-1.order-first.geotextscroll
			p.home-lead.outdented ...finding natural resources...
			a(href="/geoscience.html").home-cta Dig Deeper
